* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}
button.active {
  background: rgb(77, 213, 255);
  box-shadow: 2px -1px 5px 0px rgba(0, 0, 0, 0.5);

}
button {
  border: none;
  box-shadow: none;
}

body{
  height: 100vh;
  background: rgb(176, 236, 255);
}

.container {
  height: 100vh;
}

section#Html h1 {
  margin-bottom: 10px;
  margin-top: 150px;
  font-style: italic;
  font-size: 28px;
}

section#Html img {
  width: auto;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  background: rgb(176, 236, 255);
  gap: 4px;
  height: 5%;
  margin-top: 3%;

}

.tab {
  padding-left: 20px;
  padding-right: 20px;
  background:rgb(0, 181, 236);
  border: solid 4px rgb(66, 153, 252);
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  font-weight: bold;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

section {
  background:rgb(77, 213, 255);
  border: solid 4px rgb(66, 153, 252);
  text-align: center;
  padding-bottom: 100px;
}

section#Html p {
  display: block;
  margin-top: 50px;
  margin-bottom: -30px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  line-height: 1.6;
}

/* menu */
section#Menu h2 {
  margin-top: 50px;
  font-size: 20px;

}
section#Menu h1 {
  margin-top: 100px;
  font-size: 28px;
  font-style: italic;
  margin-bottom: 60px;
}




/* contact */
address {
  width: max-content;
  background: rgb(32, 203, 255);
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  margin-top: 70px;
  border-radius: 20px;
  border: 5px solid rgb(2, 196, 255);
}
#name {
  font-size: 20px;

}
#job {
  margin: 10px;
}
section#Contact #first {
  margin-top: 100px;
}
